.page {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}
body {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container-parent {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}
.container-parent {
  border: 1px #ccc solid;
  padding: 10px;
  flex-direction: column;
}
header {
  background: yellow;
}
