.page {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 30%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}
body {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container-parent {
  width: 30%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}
.sectionEdit {
  padding: 10px;
}
.container-parent {
  border: 1px #ccc solid;
  padding: 10px;
  flex-direction: column;
  transform: translate(0, 50%);
}
header {
  background: yellow;
  padding: 10px;
  text-align: center;
}
.firstSection {
  background: black;
  color: white;
  padding: 10px;
}
.secondSection {
  padding: 10px;
}
