.pageStyling {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.pageStyling a {
  color: yellow;
}
button {
  margin: 5px;
  padding: 5px;
  color: black;
  background: yellow;
  border-radius: 10%;
}
.headerStyle {
  background-color: #f3f3f3;
  text-align: center;
}
.sectionStyle {
  text-align: justify;
  margin: 0px auto;
  padding: 5px;
  margin: 5px;
}
@media only screen and (max-width: 320px) {
  * {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  * a {
    color: yellow;
  }
  header {
    background-color: #f3f3f3;
    text-align: center;
    background-color: yellow;
    margin: 5px;
  }
  .firstSection {
    background-color: black;
    text-align: justify;
    margin: 0px auto;
    padding: 5px;
    margin: 5px;
    color: white;
  }
  .secondSection {
    text-align: justify;
    margin: 0px auto;
    padding: 5px;
    margin: 5px;
  }
  .container-parent {
    border: solid 2px black;
  }
}
@media only screen and (min-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  * a {
    color: yellow;
  }
  .container-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 0px auto;
    transform: translate(0, 60%);
    border: solid 2px black;
  }
  header {
    background-color: #f3f3f3;
    text-align: center;
    background-color: yellow;
    margin: 5px;
  }
  .firstSection {
    background-color: black;
    text-align: justify;
    margin: 0px auto;
    padding: 5px;
    margin: 5px;
    color: white;
  }
  .secondSection {
    text-align: justify;
    margin: 0px auto;
    padding: 5px;
    margin: 5px;
  }
}
@media only screen and (min-width: 1280px) {
  * {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  * a {
    color: yellow;
  }
  .container-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0px auto;
    transform: translate(0, 60%);
    border: solid 2px black;
  }
  header {
    background-color: #f3f3f3;
    text-align: center;
    background-color: yellow;
    margin: 0px;
    padding: 10px;
  }
  .firstSection {
    background-color: black;
    text-align: justify;
    margin: 0px auto;
    padding: 5px;
    margin: 5px;
    color: white;
  }
  .secondSection {
    text-align: justify;
    margin: 0px auto;
    padding: 5px;
    margin: 5px;
  }
}
